{% load pipeline %}<!DOCTYPE html>
<html>
  <head>
    {% stylesheet "fastube" %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "partials/header.html" %}
    {% include "partials/messages.html" %}
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    {% include "partials/footer.html" %}
    {% javascript "posts" %}
  </body>
</html>
